@model IEnumerable<YKarpchuk_MVC_EFProject.Models.Customer_Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_Payment_Methods.Payment_Method_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount_Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_Payment_Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ref_Payment_Methods.Payment_Method_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammount_Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other_Payment_Details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
